body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: monospace;
  font-size: 24px;

  background-color: blanchedalmond;
}

h1 {
  font-size: 32px;
}

ul {
  list-style-type: square;
}

li:hover {
  cursor: default;
  font-weight: 700;
}
